*{
	margin: 0;
	padding: 0;
}

body{
	background: white;
	color: blue;

}
.Logo, .All_menu{
	margin-right:px ;
	vertical-align: middle ;
 display: inline-block;
 
} 
 
.All_menu li{
	
	margin-right:80px ;
	display:inline-block;
	vertical-align: middle ;
	

}

header{
	display: flex;
	justify-content: center;
	background:#FAEBD7 ;
	background-size: ;
	height: 120px ;
	box-shadow:0px 0px 10px 3px black ;
}

.All_menu a{
	
	font-family: arial;
	font-size: 30px;
	color: black;
	text-decoration: none;
	position: relative;
	top:70px;
	left: -200px;

}

.All_menu a:hover{
	color: rgb(0, 255, 255);


}

.Logo h1{
	position: relative;
	left:370px ;
	height: 10px;
	vertical-align: middle ;
	font-family: arial;
	font-size: 50px;
	color: black;
	
}

.video{
	position:relative;
	padding-bottom:56.25%;
	

}

.video_media{
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;

}

.intro{
	max-height: 100vh;
	overflow: hidden;
}

.intro:after{
	content:"";
	display: block;
	position: absolute;
	top: ;
	left: 0;

}

